@model VSAND.Data.Entities.VsandSport;

@{
    ViewData["Title"] = $"{Model.Name} Rankings";
}

<partial name="_sportHeader" />

<div class="marketing-block">
    <div id="BelowHeaderAd" data-load="ad" data-position="TopRail_Below"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            News feed tagged to sport and tagged for ranking
        </div>
        <div class="col-md-4">
            <div class="marketing-block">
                <div id="RightRailTopAd" data-load="ad" data-position="RightRail_Middle"></div>
            </div>

            <div class="marketing-block">
                <div id="RightRailBottomAd" data-load="ad" data-position="RightRail_Bottom"></div>
            </div>
        </div>
    </div>
</div>



