@{
    ViewData["Title"] = ViewData["PubHomeTitle"];
}

<div class="container pt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-12">
                    <div class="card-deck">
                        <div class="card news feature">
                            <div class="embed-responsive embed-responsive-16by9">
                                <a href="https://highschoolsports.nj.com/news/article/3540605643168970890/vote-for-best-ever-athletes-at-3-nj-schools-2019-rushmore-project-is-live/">
                                    <img class="embed-responsive-item card-img-top" src="https://image.advance.net/home/adv-hssn-media/width620/img/NJ.com/news/6e21ca277c98277cddfc5ce543818916/1024px-Mount_Rushmore_National_Memorial_merged.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h3><a href="https://highschoolsports.nj.com/news/article/3540605643168970890/vote-for-best-ever-athletes-at-3-nj-schools-2019-rushmore-project-is-live/">VOTE for best-ever athletes at 4 N.J. schools: Rushmore project, Week 3 is live</a></h3>
                                <p>
                                    <small class="text-muted">David Liss | NJ Advance Media for NJ.com 5 days ago 0</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card-deck">
                        <div class="card news">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href="https://highschoolsports.nj.com/news/article/5940691297856549045/watch-list-for-nations-top-hs-linebacker-features-3-from-nj/">
                                    <img class="embed-responsive-item card-img-top" src="https://image.nj.com/home/adv-hssn-media/width192/img/NJ.com/news/7939eaaf43538e62e588e5a8f2222f12/d80_web02fbweb51.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <span class="tag-label"><a href="/football">Football</a></span>
                                <h3><a href="https://highschoolsports.nj.com/news/article/5940691297856549045/watch-list-for-nations-top-hs-linebacker-features-3-from-nj/">3 N.J. linebackers make Butkus Award watch list for nation's best</a></h3>
                                <p>
                                    <small class="text-muted">Patrick Lanni | NJ Advance Media for NJ.com 6 days ago 0</small>
                                </p>
                            </div>
                        </div>
                        <div class="card news">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href="https://highschoolsports.nj.com/news/article/-4115241819845633250/class-of-2020-nj-boys-lacrosse-commitments/">
                                    <img class="embed-responsive-item card-img-top" src="https://expo.advance.net/img/6313d35750/width960/867_hsblaxtocfinal0609_hockstein_24.jpeg" />
                                </a>
                            </div>
                            <span class="tag-label"><a href="/boyslacrosse">Boys Lacrosse</a></span>
                            <div class="card-body">
                                <h3><a href="https://highschoolsports.nj.com/news/article/-4115241819845633250/class-of-2020-nj-boys-lacrosse-commitments/">Boys Lacrosse commitments: Follow the next big step for the Class of 2020</a></h3>
                                <p><small class="text-muted">Mike Kinney | NJ Advance Media for NJ.com 3 days ago</small></p>
                            </div>
                        </div>
                        <div class="card news">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a href="https://highschoolsports.nj.com/news/article/-2657597607562054778/former-nj-track-athlete-loses-leg-recovering-from-freak-accident/">
                                    <img class="embed-responsive-item card-img-top" src="https://image.nj.com/home/adv-hssn-media/width192/img/NJ.com/news/8dd1bd6a3c61da314b3c6dde41dc2a07/hstrackSapone1.jpg" />
                                </a>
                            </div>
                            <span class="tag-label"><a href="/boysoutdoortrack">Boys Outdoor Track</a></span>
                            <div class="card-body">
                                <h3><a href="https://highschoolsports.nj.com/news/article/-2657597607562054778/former-nj-track-athlete-loses-leg-recovering-from-freak-accident/">Former N.J. track athlete loses leg, recovering from ‘freak’ accident</a></h3>
                                <p>
                                    <small class="text-muted">Patrick Lanni | NJ Advance Media for NJ.com 4 days ago 0</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card-deck">
                        <div class="card news mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-3 d-none d-md-block">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="https://highschoolsports.nj.com/news/article/3540605643168970890/vote-for-best-ever-athletes-at-3-nj-schools-2019-rushmore-project-is-live/">
                                            <img 
                                                 src="https://image.nj.com/home/adv-hssn-media/width180/img/NJ.com/news/6e21ca277c98277cddfc5ce543818916/1024px-Mount_Rushmore_National_Memorial_merged.jpg" 
                                                 class="embed-responsive-item card-img">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h3><a href="https://highschoolsports.nj.com/news/article/3540605643168970890/vote-for-best-ever-athletes-at-3-nj-schools-2019-rushmore-project-is-live/">Last hours to VOTE for best-ever athletes at 4 N.J. schools: Rushmore, Week 3</a></h3>
                                        @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                                        <p class="card-text"><small class="text-muted">1 hour ago David Liss | NJ Advance Media for NJ.com 0</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card-deck">
                        <div class="card news mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-3 d-none d-md-block">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="https://highschoolsports.nj.com/news/article/8408819029422329653/think-bo-jackson-two-sport-standout-set-to-take-talents-to-michigan/">
                                            <img src="https://image.nj.com/home/adv-hssn-media/width180/img/NJ.com/news/a279b5240dd01ee125c935ba9471536a/ScreenShot2019-07-27at6.03.40PM.jpg" 
                                                 class="embed-responsive-item card-img">
                                        </a>
                                    </div>                                    
                                    <span class="tag-label"><a href="/football">Football</a></span>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h3><a href="https://highschoolsports.nj.com/news/article/8408819029422329653/think-bo-jackson-two-sport-standout-set-to-take-talents-to-michigan/">Think Bo Jackson. Two-sport standout set to take talents to the Big Ten</a></h3>
                                        @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                                        <p class="card-text"><small class="text-muted">Yesterday Kevin Minnick | NJ Advance Media for NJ.com 0</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card-deck">
                        <div class="card news mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-3 d-none d-md-block">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="https://highschoolsports.nj.com/news/article/-2203336901863310676/senior-spotlight-snyders-multi-talented-alicia-campbells-attacks-rehab/">
                                            <img src="https://image.nj.com/home/adv-hssn-media/width180/img/NJ.com/news/1dbacd8f8f08eb60a3cb1015edca763c/Campbell.jpg" 
                                                 class="embed-responsive-item card-img">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h3><a href="https://highschoolsports.nj.com/news/article/-2203336901863310676/senior-spotlight-snyders-multi-talented-alicia-campbells-attacks-rehab/">Senior Spotlight: Snyder's multi-talented Alicia Campbell's attacks rehab</a></h3>
                                        <p class="card-text"><small class="text-muted">Two days ago Jason Bernstein | For The Jersey Journal 0</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="marketing-block">
                <div id="RightRailTopAd" data-load="ad" data-position="RightRail_Middle"></div>
            </div>

            <div class="list-group list-group-flush featured-news">
                <div class="list-group-item list-group-header">
                    <h2>Featured News</h2>
                </div>
                <div class="list-group-item">
                    <a class="tag-label" href="/girlsoutdoortrack">Girls Outdoor Track</a>
                    <h3><a href="https://highschoolsports.nj.com/news/article/-6351430290603748166/njcoms-girls-track-and-field-all-state-and-full-postseason-honors-2019/">NJ.com's girls track and field All-State and full postseason honors, 2019</a></h3>
                    <small>3 days ago</small>
                </div>
                <div class="list-group-item">
                    <a class="tag-label" href="/girlsoutdoortrack">Girls Outdoor Track</a>
                    <h3><a href="https://highschoolsports.nj.com/news/article/-6351430290603748166/njcoms-girls-track-and-field-all-state-and-full-postseason-honors-2019/">NJ.com's girls track and field All-State and full postseason honors, 2019</a></h3>
                    <small>3 days ago</small>
                </div>
                <div class="list-group-item">
                    <a class="tag-label" href="/girlsoutdoortrack">Girls Outdoor Track</a>
                    <h3><a href="https://highschoolsports.nj.com/news/article/-6351430290603748166/njcoms-girls-track-and-field-all-state-and-full-postseason-honors-2019/">NJ.com's girls track and field All-State and full postseason honors, 2019</a></h3>
                    <small>3 days ago</small>
                </div>
                <div class="list-group-item">
                    <a class="tag-label" href="/girlsoutdoortrack">Girls Outdoor Track</a>
                    <h3><a href="https://highschoolsports.nj.com/news/article/-6351430290603748166/njcoms-girls-track-and-field-all-state-and-full-postseason-honors-2019/">NJ.com's girls track and field All-State and full postseason honors, 2019</a></h3>
                    <small>3 days ago</small>
                </div>
                <div class="list-group-item">
                    <a class="tag-label" href="/girlsoutdoortrack">Girls Outdoor Track</a>
                    <h3><a href="https://highschoolsports.nj.com/news/article/-6351430290603748166/njcoms-girls-track-and-field-all-state-and-full-postseason-honors-2019/">NJ.com's girls track and field All-State and full postseason honors, 2019</a></h3>
                    <small>3 days ago</small>
                </div>
                <div class="list-group-item">
                    <a class="tag-label" href="/girlsoutdoortrack">Girls Outdoor Track</a>
                    <h3><a href="https://highschoolsports.nj.com/news/article/-6351430290603748166/njcoms-girls-track-and-field-all-state-and-full-postseason-honors-2019/">NJ.com's girls track and field All-State and full postseason honors, 2019</a></h3>
                    <small>3 days ago</small>
                </div>
            </div>

            <div class="marketing-block">
                <div id="RightRailBottomAd" data-load="ad" data-position="RightRail_Bottom"></div>
            </div>
        </div>
    </div>
</div>
