@model VSAND.IdentityServer.ViewModels.Account.PasswordResetEmailViewModel

@{
    Layout = "_Layout.cshtml";
}

<table class="body" data-made-with-foundation="">
    <tr>
        <td class="float-center" align="center" valign="top">
            <center data-parsed="">
                <style type="text/css" align="center" class="float-center">

                    body,
                    html,
                    .body {
                        background: #f3f3f3 !important;
                    }

                    .header {
                        background: #f3f3f3;
                    }
                </style>
                <table class="container float-center">
                    <tbody>
                        <tr>
                            <td>
                                <table class="row header">
                                    <tbody>
                                        <tr>
                                            <th class="small-12 large-12 columns first last">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <table class="spacer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <h4 class="text-center">@Model.SiteName</h4>
                                                        </th>
                                                        <th class="expander"></th>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="row">
                                    <tbody>
                                        <tr>
                                            <th class="small-12 large-12 columns first last">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <table class="spacer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="spacer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <h1 class="text-center">Forgot Your Password?</h1>
                                                            <table class="spacer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p class="text-center">Click the link below to reset your password.</p>
                                                            <table class="button large expand">
                                                                <tr>
                                                                    <td>
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <center data-parsed=""><a href="@Model.PasswordResetUrl" align="center" class="float-center">Reset Password</a></center>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td class="expander"></td>
                                                                </tr>
                                                            </table>
                                                            <hr>
                                                            <p>
                                                                <small>
                                                                    You're getting this email because someone requested a password reset with your username on @Model.SiteName.
                                                                    If you did not request a password reset, please disregard this email and your password will remain the same.
                                                                </small>
                                                            </p>
                                                        </th>
                                                        <th class="expander"></th>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="spacer">
                                    <tbody>
                                        <tr>
                                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table>