@model VSAND.Data.Entities.VsandSport

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fas fa-whistle"></i> Sports  @if (Model != null)
        {
            <text>
                    <span class="fw-300"><i class="fal fa-chevron-right fa-fw"></i>@Model.Name</span>
            </text>
        }
    </h1>    
</div>
