@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="page-title txt-color-blueDark">
    <i class="fa fa-home fa-fw"></i>
    Dashboard
</h1>


<p>This is the dashboard area for the logged on user. Depending on their access level the visitor will see contextual information that is pertinent to their visit.</p>
