<div id="footer" class="footer">
    <div class="footer">
        <nav class="footer__nav">
            <h2 class="footer__nav-title footer__nav-title--hidden">Footer Navigation</h2> <div class="footer__nav-wrapper"> </div>
        </nav>
        <div class="footer__disclaimer">
            <h2 class="footer__disclaimer-title footer__disclaimer-title--hidden">Disclaimer</h2> <div class="footer__disclaimer-wrapper">
                <div class="footer__disclaimer-column footer__disclaimer-column--1">
                    <a class="footer__disclaimer-logo-link" href="https://www.advancelocal.com/" id="AdvanceDigitalLogo">
                        <img class="footer__disclaimer-logo-image" src="https://www.nj.com/pb/resources/dist/common/images/footer-logo-advance.svg" alt="Advance Local logo" role="img">
                    </a>
                </div> <div class="footer__disclaimer-column footer__disclaimer-column--2">
                    <p class="footer__disclaimer-text"> Registration on or use of this site constitutes acceptance of our <a href="https://www.nj.com/user-agreement/">User Agreement</a> and <a href="https://www.nj.com/privacy-policy/">Privacy Policy</a> </p>
                    <p class="footer__disclaimer-text">© @DateTime.Now.Year New Jersey On-Line LLC. All rights reserved (<a href="https://www.njadvancemedia.com/us/">About Us</a>).<br> The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written permission of New Jersey On-Line LLC.</p> <p class="footer__disclaimer-text"><a href="https://www.nj.com/communityrules/">Community Rules</a> apply to all content you upload or otherwise submit to this site.</p> <p class="footer__disclaimer-text">
                        <a href="https://www.nj.com/privacy-policy/#oba_top">
                            <img src="https://www.nj.com/pb/resources/dist/common/images/ps-images/ad-choices-arrow.png" alt=""> Ad Choices
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-container">  </div>
</div>