/// <reference path="../site.scss" />

.sport-header {
    .sport-brand {
        padding: 2rem 0 0;

        .sport-name {
            text-transform: uppercase;
        }
    }

    padding-top: 1rem;

    h1 {
        text-transform: uppercase;
    }

    .navbar {
        padding: 1rem 0 0;

        .navbar-toggler {
            &.collapsed {
                .collapser {
                    display: none;
                }

                .expander {
                    display: inline;
                }
            }

            .collapser {
                display: inline;
            }

            .expander {
                display: none;
            }
        }
    }
}
