
@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title txt-color-blueDark">
    <i class="fa fa-calendar fa-fw"></i>
    Planner
    <span>
        <i class="fa fa-chevron-right fa-fw"></i>
        @ViewData["Title"]
    </span>
</h1>
