@model VSAND.Data.ViewModels.GameReport.GameReport

@{
    ViewData["Title"] = Model.Name;
}

<partial name="_gameHeader" />

<div class="marketing-block">
    <div id="BelowHeaderAd" data-load="ad" data-position="TopRail_Below"></div>
</div>

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-3">
            Watch Video
            <p><b><img src="https://placehold.it/620x387" /></b></p>

            <p>
                Player Stat / Game Leaders<br />
                Compare top player in specific stat categories from each team.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3>Period Scoring</h3>
                        </div>
                        <div class="card-body">
                            Period scoring table
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card news feature">
                        <div class="embed-responsive embed-responsive-16by9">
                            <a href="http://highschoolsports.nj.com/news/article/3540605643168970890/vote-for-best-ever-athletes-at-3-nj-schools-2019-rushmore-project-is-live/">
                                <img class="embed-responsive-item card-img-top" src="https://image.advance.net/home/adv-hssn-media/width620/img/NJ.com/news/6e21ca277c98277cddfc5ce543818916/1024px-Mount_Rushmore_National_Memorial_merged.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h3><a href="http://highschoolsports.nj.com/news/article/3540605643168970890/vote-for-best-ever-athletes-at-3-nj-schools-2019-rushmore-project-is-live/">VOTE for best-ever athletes at 4 N.J. schools: Rushmore project, Week 3 is live</a></h3>
                            <p>David Liss | NJ Advance Media for NJ.com 5 days ago 0</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3>Chron Scoring</h3>
                        </div>
                        <div class="card-body">
                            Chron scoring entries
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3>Player Stats</h3>
                        </div>
                        <div class="card-body">
                            Player Stat Tables
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3>Team Stats</h3>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderless table-striped table-sm">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Team Name</th>
                                <th>Other Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Stat Name</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="marketing-block">
                <div id="RightRailTopAd" data-load="ad" data-position="RightRail_Middle"></div>
            </div>

            <div class="marketing-block">
                <div id="RightRailBottomAd" data-load="ad" data-position="RightRail_Bottom"></div>
            </div>
        </div>
    </div>
</div>

