@{
    ViewData["Title"] = "PreGame";
}

<partial name="_gameHeader" />

<div class="marketing-block">
    <div id="BelowHeaderAd" data-load="ad" data-position="TopRail_Below"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2">
            Watch Video
            <p><b><img src="https://placehold.it/620x387" /></b></p>
            <div class="marketing-block">
                <div id="RightRailTopAd" data-load="ad" data-position="RightRail_Middle"></div>
            </div>

            <div class="marketing-block">
                <div id="RightRailBottomAd" data-load="ad" data-position="RightRail_Bottom"></div>
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>

